In [3]:
import matplotlib.pyplot as plt
import numpy as np
import warnings
import pandas as pd
from sklearn.datasets import load_wine
warnings.filterwarnings('ignore')
%matplotlib inline

#### Домашнее задание № 1
Задача для прогнозирования предсказания возможного дохода
1. Проверьте данные на пропуски
2. Обучите логистическую регрессию
3. Обучите метод опорных векторов
4. Сравните точность двух моделей
5. Напишите выводы и интерпретируйте

In [2]:
df = pd.read_csv('adult.csv')
df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [ ]:
### YOUR CODE:

#### Домашнее задание № 2

1. Из данных исключите объекты класса 2.
2. Отмасштабируйте признаки, используя класс `StandardScaler` с гиперпараметрами по умолчанию. 
3. Обучите логистическую регрессию и оцените важность признаков. 
4. Укажите название признака, который оказался наименее значимым.
5. Напишите выводы.

Обратите внимание, целевое значение лежит по ключу `'target'`, матрица объекты-признаки лежит по ключу `'data'`

In [10]:
data = load_wine()

In [ ]:
### YOUR CODE:

### Домашнее задание № 3
В этой части мы будем работать с данными UCI Bank Marketing Dataset. Этот датасет содержит информацию о банковском телефонном маркетинге.

Объектом здесь является телефонный звонок потенциальному клиенту с предложением некоторой услуги (утверждается, что это краткосрочный депозит). В качестве признакового описания используются характеристики клиента (образование, брак и т.д.), более подробная информация представлена в файле bank-additional-names.txt. Целевая переменная - ответ клиента (согласился ли он открыть депозит?)

1. Закодируйте категориальные признаки 
2. Выберите метрику классификации, которая вам кажется подходящей, и обучите логистическую регрессию
3. Как вы считаете, что для вашего бизнеса важнее — хороший precision или recall модели? Почему?

In [17]:
df = pd.read_csv('bank-additional-full.csv', sep=';')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
### YOUR CODE: